*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#4c9f97),url(images/coffeebg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.banner-text p{
    font-size: 30px;
    font-style: italic;
    padding: 20px;
}
.banner-btn a{
    margin: 70px auto 0;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 9px ;
    color: #fff;
    border: .5px solid #fff;
}
.banner-btn a span{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
   width: 100%;
   
}