body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(images/cafe.jpg);
    /background-size:cover;
    background-position: center;
    
}
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px o rgba(o,o,o,o.3);
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20x;
    font-size: 15px;
    /margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;    
}
.sign-btn{
    background-color: #1c8adb;
}
.second-btn{
    background-color: #21afde;;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img{
    width: 70px;
    margin-top: -50%;
}
.logo{
 height: 80px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 60px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family:sans-serif;
    color: white;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 100px;
    
}
nav a{
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    
}
nav a:hover{
    background-color: purple;
}
.wrapper{
    width: 1170px;
    margin: 100 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: ;
  // position: fixed;
}
